@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background:url("images/fon.jpg") center top #000;
	background-attachment: fixed;	
	margin: 0;
	padding: 0;

}

/* ~~ Селекторы элементов/тегов ~~ */
ul, ol, dl { /* Из-за различий между браузерами рекомендуется обнулять поля в списках. Для согласованности можно указать нужные величины либо здесь, либо в элементах списка (LI, DT, DD), которые они содержат. Помните, что сделанное здесь последовательно включается в список .nav, если только не будет прописан более конкретный селектор. */
	padding: 0;
	margin: 0;


}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* удаление верхнего поля позволяет обойти проблему выхода полей за границы содержащего их контейнера DIV. Оставшееся нижнее поле отделит его от любых последующих элементов. */
	padding-right: 15px;
	padding-left: 15px; /* добавление боковых полей к элементам внутри контейнеров DIV, а не к самим контейнерам избавляет от необходимости расчетов рамочной модели. В качестве альтернативы можно использовать вложенный контейнер DIV с боковыми полями. */
}
a img { /* этот селектор убирает стандартную синюю рамку, которая появляется у изображений в некоторых браузерах, если вокруг изображения есть ссылка */
	border: none;
}

/* ~~ Оформление ссылок на вашем сайте должно оставаться в этом порядке, включая группу селекторов, создающих эффект наведения. ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* если только ссылки не должны выглядеть исключительно своеобразно, то для быстрого зрительного распознавания рекомендуется использовать подчеркивание */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* эта группа селекторов обеспечивает пользователю, работающему с клавиатурой, такие же возможности наведения, как и при использовании мыши. */
	text-decoration: none;
}

/* ~~ этот контейнер окружает все остальные контейнеры DIV, задавая их ширину на процентной основе ~~ */
.container {
	width: 80%;
	max-width: 1260px;/* желательно задать максимальную ширину, чтобы макет не стал слишком широким на большом экране. Это повышает удобство чтения строк. В IE6 это объявление не соблюдается. */
	min-width: 780px;/* желательно задать минимальную ширину, чтобы макет не стал слишком узким. Это повышает удобство чтения строк в боковых столбцах. В IE6 это объявление не соблюдается. */
	margin: 0 auto; /* автоматическое задание величин по бокам в совокупности с шириной центрирует макет. Это необязательно, если ширина контейнера составляет 100 %. */
	background:url("images/bg.jpg") center top #000;

}

.ContHead{
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	margin: 0 auto;
	height: 15px;
}

.ContHeadL{
	float: left;
	width:4%;
	height:15px;
	background:url("images/cornerL.png") left top no-repeat;
	
}

.ContHeadC{
	float: left;
	width: 92%;
	height:15px;
	background:url("images/cornerLine.png") left top;
}

.ContHeadR{
	float: left;
	width: 4%;
	height:15px;
	background-image: url(images/cornerR.png);
	background-repeat: no-repeat;
	background-position: right top;

}

.header {
	height:310px;
	width: 800px;
	
	background:url("images/logo.gif") center top no-repeat;

	margin: 30px auto; 
}


.sidebar1 {
	width: 30%;
	background:url("images/basket.jpg") center top #000;
	float: right;
}

.content {
	float: right;
	width: 69%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 1%;
    position: relative;
	z-index:0;
}

.contentI {
	float: left;
	width: 67%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3%;
	font-size: 18px;
	text-align: left;
	font-style: normal;
	color: #300;
    position: relative;
	z-index:0;
}

.contentHeader{
	font-size: 25px;
	text-align: center;
}

.contentTxt{
	font-size: 16px;
	font-style: italic;
	text-align: center;
}
.contentLoad {
	position: absolute;
	z-index:2;
	text-align: center;
	width: 69%;
	height: 50px;
	FILTER:PROGID:DXIMAGETRANSFORM.MICROSOFT.ALPHA(OPACITY=50);
	-MOZ-OPACITY:0.5;
	-KHTML-OPACITY:0.5;
	display: none;
}




.WareCont{
	float: left;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.WareImg{
	float: left;
	width: 35%;
	height:150px;
}
.WareName{
	float: left;
	width: 40%;
	height:140px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.WareName1{
	text-align:center;
	font-size:22px;
	font-style:normal;
	margin-top: 5px;

}
.WareName2{
	text-align:center;
	font-size:16px;
	font-style:italic;
	margin-top: 5px;
}
.WareName3{
	text-align:center;
	font-size:12px;
	font-style:italic;
	margin-top: 10px;
}

.WarePrice{
	float: left;
	width: 25%;
	height:140px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.WarePrice1{
	text-align:center;
	font-size:18px;
	font-style:normal;
	margin-top: 5px;
}

.WarePrice2{
	text-align:center;
	font-size:14px;
	font-style:normal;
	margin-top: 5px;
}
/* ~~ Этот сгруппированный селектор выдает списки в пространстве .content ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* это поле зеркально повторяет правое поле в правиле для заголовков и параграфов выше. Внизу поле помещено как граница между элементами списков, а слева — как отступ. Поля можно настраивать по желанию. */
}

/* ~~ Стили списка навигации (можно убрать, если решено использовать готовое подменю, например Spry) ~~ */
ul.nav {
	list-style: none; /* удаляет маркер списка */
	border-top: 1px solid #666; /* создает верхнюю границу ссылок — все остальные размещаются с использованием нижней границы в LI */
	margin-bottom: 15px; /* создает пространство между навигацией по содержимому ниже */
}
ul.nav li {
	border-bottom: 1px solid #666; /* разделяет кнопки */
}
ul.nav a, ul.nav a:visited { /* группировка этих селекторов гарантирует, что ссылки будут выглядеть как кнопки даже после того, как пользователь перейдет по ним */
	padding: 5px 5px 5px 15px;
	display: block; /* наделяет ссылку свойствами блока, из-за чего она заполняет весь содержащий ее элемент LI. При этом вся область реагирует на щелчок мышью. */
	text-decoration: none;
	background:url("images/menu.jpg") center top #000;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* изменяет цвет текста и фона при навигации с помощью клавиатуры и мыши */
	background: #6F7D94;
	color: #FFF;
}

table.form {
	text-align:left;
}

/* ~~ Нижний колонтитул ~~ */
.footerP {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	height: 40px;
	background:url("images/bottom.jpg") center top #000;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	color: #FFF;
	text-align: center;
}

.footer {

	
	position: relative;/* IE6 получает hasLayout для правильной очистки */
	clear: both; /* это свойство очистки заставляет .container видеть место окончания столбцов и включать их */
	height: 15px;
}

/* ~~ прочие классы float/clear ~~ */
.fltrt {  /* этот класс можно использовать для обтекания элемента справа на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* этот класс можно использовать для обтекания элемента слева на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* этот класс можно поместить в теге <br /> или в пустом блоке DIV в качестве конечного элемента, следующего за последним обтекаемым DIV (внутри #container), если .#footer удален или извлечен из #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


.BasketTxt{
	text-align:center;
	font-size:24px;
	font-style:normal;
	padding-top: 15px;
}

.BasketStart{
	font-size:18px;
	font-style:normal;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}

.MenuBlock{
	float: left;
	width: 100%;
	height:auto;
	font-size:14px;
	font-style:italic;
	border-bottom: 1px solid #666;
}

.MenuRigth{
	float: left;
	width: 65%;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 15px;
}

.MenuLeft{
	float: left;
	width: 25%;
	text-align: right;
	margin: 5px;
}


.MenuSumBlock{
	float: left;
	width: 100%;
	height:auto;
	font-size:16px;
	font-style:italic;
	border-bottom: 1px solid #666;
	margin-top: 20px;
}

.MenuSumRigth{
	float: left;
	width: 65%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 15px;
}

.MenuSumLeft{
	float: left;
	width: 25%;
	text-align: right;
	margin: 5px;
}

form {
  margin-left:25px;

}
input, textarea, select {
  display:block;
  width:250px;
  float:left;

	font-size: 18px;
	font-style: normal;
  /*font-size: 10pt;*/
}
optgroup, option {
 /* font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;*/
  	font-size: 18px;
	font-style: normal;
}
label {
  display:block;
  text-align:right;
  float:left;
  width:105px;
  padding-right:5px;
}